<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>New Post</title>

  {% load static %}
  {% load dict_get %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static "css/post2.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
  <!------------------------------------------------------------------------------- back to home button ------------------------------------------------------------------------------>
        <a href = "{% url 'index' %}"><i class="fa fa-home" style="z-index:20000;font-size:48px;position: fixed;right: 10%;bottom:90%;"></i></a>
  <!------------------------------------------------------------------------------- back to home button ------------------------------------------------------------------------------>

    <body>

      <form class="form" action="{% url 'posts:newpost' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h1 style = "color:black;">Post Your Ad </h1>

        <fieldset>
	  <legend><span class="number">1</span>Your Ad Detail</legend>
          <div>
	  <label for="name">Ad Title:</label>
          <input class="input" type="text" id="name" name="adtitle" required>


	   <label>Ad Type:</label>
            <input type="radio" id="" value="offering" name="type" checked><label for="" class="light">I am offering</label><br>
            <input type="radio" id="" value="wanting" name="type"><label for="" class="light">I want</label>


          <label for="mail">Price $:</label>
          {% if errors|get_item:'price' %}
            <div style='color:red;'>{{ errors|get_item:'price' }}</div>
          {% endif %}
	         <input type="price" id="price" name="price" required></br>

          <label for="password">Description:</label>
          <textarea class="input" rows="6" cols="50" name="description" placeholder="Enter your  description here..." required></textarea>

          </div>
        <fieldset>
          <legend><span class="number">2</span><font color="#ffb84d">Media</legend>
	  <div>
		<font color="#ffb84d">Please select multiple images at once:<br>
      {% if errors|get_item:'images' %}
        <div style='color:red;'>{{ errors|get_item:'images' }}</div>
      {% endif %}
      <br>
                <input type="file" name="files" accept="image/*" multiple> <br><br>

	  </div>
        </fieldset>

	<fieldset>
          <legend><span class="number">3</span>Ad Detail Category</legend>
          <label for="detail">Select Your Book's Category:</label>
        <select id="detail" name="detail">
              {% for category in categories %}
              <option value="{{ category.pk }}">{{category.title}}</option>
              {% endfor %}
          </optgroup>
        </fieldset>


        <fieldset>

         </select>

         </fieldset>


        <button class="submit" type="submit">Post Ad</button>
      </form>

    </body>
</html>


</body>
</html>
