<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="post2.css">

  
</head>

<body>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Post Your App</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        
    </head>
    <body>

      <form class="form" action="index.html" method="post">
      
        <h1>Post Your Ad </h1>
        
        <fieldset>
	  <label for="name">Ad Title:</label>
          <input class="input" type="text" id="name" name="adtitle">

          <legend><span class="number">1</span>Your Ad Detail</legend>
	   <label>Ad Type:</label>
            <input type="radio" id="" value="" name="type"><label for="" class="light">I am offering</label><br>
            <input type="radio" id="" value="" name="type"><label for="" class="light">I want</label>
          
          
          <label for="mail">Price $:</label>
	  <input class="input" type="radio" id="" value="" name="price"><input type="price" id="price" name="price"></br>
	  <input type="radio" id="" value="" name="price"><label for="" class="light">Free</label><br>
           <input type="radio" id="" value="" name="price"><label for="" class="light">Please Contact</label><br>
	  <input type="radio" id="" value="" name="price"><label for="" class="light">Swap / Trade</label>
          
          <label for="mail">For Sale By:</label>
	  <input type="radio" id="" value="" name="saletype"><label for="" class="light">Student</label><br>
          <input type="radio" id="" value="" name="saletype"><label for="" class="light">Stuff</label><br>
	  <input type="radio" id="" value="" name="saletype"><label for="" class="light">Busniness</label><br>
     	  <input type="radio" id="" value="" name=""><label for="" class="light">Other</label><br>

          <label for="password">Description:</label>
          <textarea class="input" rows="6" cols="50" placeholder="Enter your  description here..."></textarea>
        </fieldset>
        
        <fieldset>
          <legend><span class="number">2</span>Media</legend>
	  <div>
		
		Image1:  <input name="image[]" type="file" /><br />
		Image2:  <input name="image[]" type="file" /><br />
		Image3:  <input name="image[]" type="file" /><br />
		Image4:  <input name="image[]" type="file" /><br />
		Image5:  <input name="image[]" type="file" /><br />
  		<input type="submit" value="Upload" />
		
	  </div>
        </fieldset>
	
	<fieldset>
          <legend><span class="number">3</span>Location</legend>
          <label for="bio">Location:</label>
          <textarea class="input" id="bio" name="user_bio"></textarea>
        </fieldset>
	

        <fieldset>
        <label for="detail">Detail Category:</label>
        <select id="detail" name="detail">
          <optgroup label="Books">
            <option value="textbooks">Textbooks</option>
            <option value="magazines">Magazines</option>
            <option value="children_young_adult">Children & Young Adult</option>
            <option value="comics_Graphic_novels"> Comics & Graphic Novels</option>
            <option value="fiction">Fiction</option>
            <option value="non_fiction">Non-fiction</option>
	    <option value="Other">Other</option>
          </optgroup>
         </select>
        
         </fieldset>

	<fieldset>
          <legend><span class="number">4</span>Contact Information</legend>
	 <label for="bio">Phone Number:</label>
          <input class="input" type="tel">
          <label for="bio">Email:</label>
          <input class="input" type="email">
        </fieldset>



        <button class="submit" type="submit">Post Ad</button>
      </form>
      
    </body>
</html>
  
  
</body>
</html>
