This is a tes.<br /><br />

{{ post.title }}<br />
{{ post.poster }}<br />
{{ post.category }}<br />
{{ post.offering }}<br />
{{ post.time }}<br />
{{ post.price }}<br />
{{ post.description }}<br />

{% load thumbnail %}

<br />
{% for i in post.postimages_set.all %}
{% thumbnail i.image 200x200 upscale as thumb %}
<img src="{{ thumb.url }}"
       width="{{ thumb.width }}"
       height="{{ thumb.height }}" />
{% endfor %}

<br />
{% for comment in post.comments_set.all %}
  {{ comment }}<br />
{% endfor %}

<br />COMMENT FORM HERE<br />
